**/.ipynb*
**/__pycache__/
.vscode/launch.json

*.mp4
*.mov

*.png
*.jpg
*.jpeg

# frontend

# backend

# track
models/track/pretrained/*
models/track/assets/
models/track/runs
models/track/target
exp*/

# cartoonize
models/cartoonize/test_code/save_models/*