**/.ipynb*
**/__pycache__/
.vscode/launch.json

*.mp4
*.mov

*.png
*.jpg
*.jpeg
*.

# frontend

# backend

# database
database/work_dir/*

# track
models/track/pretrained/*
models/track/assets/
models/track/runs
models/track/target

# cartoonize
models/cartoonize/test_code/save_models/*

# yolo build
models/track/yolox.egg-info/*
models/track/yolox/*
models/track/build